/* *,
:before,
:after {
  box-sizing: border-box;
} */

/* Частковий ресет */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
}

:root {
  /* fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* text colors */
  --main-tx-cl: #757575;
  --dark-tx-cl: #212121;
  --ligth-tx-cl: #ffffff;
  --accent-tx-cl: #2196f3;

  /* bg colors */
  --dark-bg: #2f303a;
  --ligth-bg: #f5f4fa;
  /* others */
  --indent: 30px;
  --items: 4;
  --anim-cube: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --border-color: #eee;
}

body {
  font-family: var(--main-font);
  color: var(--main-tx-cl);
}
/* reset */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contact {
  font-style: normal;
}

.section-title {
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--dark-tx-cl);

  margin-bottom: 50px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
.current {
  position: relative;
  color: var(--accent-tx-cl);
}

.current::after {
  position: absolute;
  bottom: 0;
  left: 0;

  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-tx-cl);
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.icon {
  fill: currentColor;
}

/* Header */

.logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #000000;

  margin-right: 93px;
}

.logo-blue {
  color: var(--accent-tx-cl);
}

.header {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  color: var(--dark-tx-cl);

  display: flex;
  gap: 50px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color var(--anim-cube);
}

.active:hover,
.active:focus {
  color: var(--accent-tx-cl);
}
.contact-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-link-white {
  color: var(--ligth-tx-cl);
}

.intro {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/bg/bg-1.jpg);
  background-color: var(--dark-bg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--ligth-tx-cl);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.intro-tittle {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-tx-cl);
  color: var(--ligth-tx-cl);
  cursor: pointer;
  border-radius: 4px;
  border: transparent;

  padding: 10px 32px;
}

.wrapper-icon {
  display: flex;
  justify-content: center;
  padding: 25px;
  margin-bottom: 30px;

  background-color: var(--ligth-bg);
}
.feature-list {
  display: flex;
  gap: 30px;
}

.feature-title {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-tx-cl);

  margin-bottom: 10px;
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.services-list {
  --item: 3;
}

.services-item {
  position: relative;
}
.backdrop-service {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.backdrop-service-text {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--ligth-tx-cl);
}

.team {
  background-color: var(--ligth-bg);
}

.team-name-container {
  padding: 30px 5px;
  text-align: center;
}

.team-item {
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: var(--ligth-tx-cl);
  border-radius: 0 0 4px 4px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--dark-tx-cl);

  margin-bottom: 10px;
}

.team-desc {
  font-size: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: color var(--anim-cube), background-color var(--anim-cube);
}

.social-link:hover,
.social-link:active {
  color: var(--ligth-tx-cl);
  background-color: var(--accent-tx-cl);
}

.clients-list {
  --items: 6;
}

.clients-link {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-icon);
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: border var(--anim-cube), color var(--anim-cube);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-tx-cl);
  color: var(--accent-tx-cl);
}
/* .clients-list {
  display: flex;
  justify-content: center;
  gap: 30px;
} */

/* .clients-link {
  display: flex;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 1px #afb1b8;
} */

.footer {
  padding: 60px 0;
  background-color: var(--dark-bg);
}

.footer-container {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.footer-logo {
  display: block;
  color: var(--ligth-tx-cl);
  margin-bottom: 20px;
}

.footer-item {
  margin-bottom: 9px;
}
.footer-item:last-child {
  margin-bottom: 0;
}

/* .wrapper-social {
  
} */

.social-title {
  text-transform: uppercase;
  line-height: calc(16 / 14);
  margin-bottom: 20px;
  font-size: 14px;
}
.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--ligth-tx-cl);
}

/* PORTFOLIO */

.filter-btn {
  padding: 6px 22px;
  font-family: inherit;
  background-color: var(--ligth-bg);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--dark-tx-cl);
  cursor: pointer;
  border-radius: 4px;
  border: 0px;

  transition: background-color var(--anim-cube), color var(--anim-cube),
    border-color var(--anim-cube), box-shadow var(--anim-cube);
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-tx-cl);
  color: var(--ligth-tx-cl);
  border-color: transparent;

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
.portfolio-list-btn {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-item {
  --items: 3;
}

.portfolio-conteiner {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-tx-cl);

  margin-bottom: 4px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio-link {
  display: block;
  transition: box-shadow var(--anim-cube);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06),
    0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay-portfolio {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  background: rgba(33, 150, 243, 0.9);

  transform: translateY(+100%);
  transition: opacity var(--anim-cube), transform var(--anim-cube);
}

.portfolio-link:hover .overlay-portfolio {
  opacity: 1;
  transform: translateY(0);
}
.portfolio-link:focus .overlay-portfolio {
  opacity: 1;
  transform: translateY(0);
}

.overlay-portfolio-text {
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: var(--ligth-tx-cl);
}
