/* *,
:before,
:after {
  box-sizing: border-box;
} */

/* Частковий ресет */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: currentColor;
}

:root {
  /* fonts */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* text colors */
  --main-tx-cl: #757575;
  --dark-tx-cl: #212121;
  --ligth-tx-cl: #ffffff;
  --accent-tx-cl: #2196f3;

  /* bg colors */
  --dark-bg: #2f303a;
  --ligth-bg: #f5f4fa;
  /* others */
  --indent: 30px;
  --items: 4;

  --border-color: #eee;
}

body {
  font-family: var(--main-font);
  color: var(--main-tx-cl);
}
/* reset */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.contact {
  font-style: normal;
}

.section-title {
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--dark-tx-cl);

  margin-bottom: 50px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}
.current {
  color: var(--accent-tx-cl);
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Header */

.logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #000000;

  margin-right: 93px;
}

.logo-blue {
  color: var(--accent-tx-cl);
}

.header {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  color: var(--dark-tx-cl);

  display: flex;
  gap: 50px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.active:hover,
.active:focus {
  color: var(--accent-tx-cl);
}
.contact-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.contact-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.contact-link-white {
  color: var(--ligth-tx-cl);
}

.intro {
  background-color: var(--dark-bg);
  color: var(--ligth-tx-cl);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.intro-tittle {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-tx-cl);
  color: var(--ligth-tx-cl);
  cursor: pointer;
  border-radius: 4px;
  border: transparent;

  padding: 10px 32px;
}
.feature-list {
  display: flex;
  gap: 30px;
}

.feature-title {
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-tx-cl);

  margin-bottom: 10px;
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.services-list {
  --item: 3;
}

.team-name-container {
  padding: 30px 5px;
  text-align: center;
}

.team-item {
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: var(--ligth-tx-cl);
  border-radius: 0 0 4px 4px;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--dark-tx-cl);

  margin-bottom: 10px;
}

.team-desc {
  font-size: 16px;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--dark-bg);
}

.footer-container {
  padding: 60px 0;
}

.footer-logo {
  display: block;
  color: var(--ligth-tx-cl);
  margin-bottom: 20px;
}

.footer-item {
  margin-bottom: 9px;
}
.footer-item:last-child {
  margin-bottom: 0;
}

/* PORTFOLIO */

.filter-btn {
  padding: 6px 22px;
  font-family: inherit;
  background-color: var(--ligth-bg);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--dark-tx-cl);
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-tx-cl);
  color: var(--ligth-tx-cl);
  border-color: transparent;

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}
.portfolio-list-btn {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-item {
  --items: 3;
}

.portfolio-conteiner {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark-tx-cl);

  margin-bottom: 4px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
